@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';

        var urlBenefInclusao = '@Url.Action("Incluir", "Beneficiario", new { area = "" })';
        var urlBeneficiariosList = '@Url.Action("BeneficiariosList", "Beneficiario", new { area = "" })';

var urlBenefExclusao = '@Url.Action("Excluir", "Beneficiario", new { area = "" })';
var benef = @Html.Raw(Json.Encode(Model.Beneficiarios));
var urlBenefAlteracao = '@Url.Action("Alterar", "Beneficiarios", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/altClientes")
    @Scripts.Render("~/bundles/beneficiarios")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")