
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';

        var urlBenefInclusao = '@Url.Action("Incluir", "Beneficiarios", new { area = "" })';
        var urlBenefExclusao = '@Url.Action("Excluir", "Beneficiarios", new { area = "" })';
        var benef = @Html.Raw(Json.Encode(Model));
        var urlBenefAlteracao = '@Url.Action("Alterar", "Beneficiarios", new { area = "" })';
        var urlBeneficiariosList = '@Url.Action("BeneficiariosList", "Beneficiarios", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/clientes")
    @Scripts.Render("~/bundles/beneficiarios")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")